<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="Chrome Test">
        <classes>
            <class name="test.java.com.amazon.qa.tests.HomePageTests"/>
            <class name="test.java.com.amazon.qa.tests.LoginPageTests"/>
        </classes>
    </test>
</suite>